/****** Object:  Database [npi-tracker-db]    Script Date: 8/20/2026 8:31:43 PM ******/
CREATE DATABASE [npi-tracker-db]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET FULLTEXT_INDEX_VERSION = 2;
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[component_types]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[component_types](
	[component_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[component_type_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_component_types_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crd_version_processes]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crd_version_processes](
	[crd_version_id] [bigint] NOT NULL,
	[process_id] [int] NOT NULL,
	[sequence] [int] NOT NULL,
	[is_required] [bit] NOT NULL,
 CONSTRAINT [PK_crd_version_processes] PRIMARY KEY CLUSTERED 
(
	[crd_version_id] ASC,
	[process_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_crd_version_process_sequence] UNIQUE NONCLUSTERED 
(
	[crd_version_id] ASC,
	[sequence] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crd_versions]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crd_versions](
	[crd_version_id] [bigint] IDENTITY(1,1) NOT NULL,
	[crd_id] [bigint] NOT NULL,
	[version] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[crd_version_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_crd_versions] UNIQUE NONCLUSTERED 
(
	[crd_id] ASC,
	[version] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crds]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crds](
	[crd_id] [bigint] IDENTITY(1,1) NOT NULL,
	[crd_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[crd_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_crds_crd_name] UNIQUE NONCLUSTERED 
(
	[crd_name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[device_components]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[device_components](
	[component_id] [bigint] IDENTITY(1,1) NOT NULL,
	[device_id] [bigint] NOT NULL,
	[component_type_id] [int] NOT NULL,
	[serial_number] [nvarchar](100) NULL,
	[part_number] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[component_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[device_failures]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[device_failures](
	[failure_id] [bigint] IDENTITY(1,1) NOT NULL,
	[device_id] [bigint] NOT NULL,
	[process_id] [int] NULL,
	[error_code] [nvarchar](100) NULL,
	[failure_reason] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[failure_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[device_process_history]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[device_process_history](
	[device_process_history_id] [bigint] IDENTITY(1,1) NOT NULL,
	[device_id] [bigint] NOT NULL,
	[process_id] [int] NOT NULL,
	[started_at] [datetime2](7) NOT NULL,
	[ended_at] [datetime2](7) NULL,
	[reported_by] [nvarchar](100) NULL,
	[reported_by_user_id] [bigint] NULL,
	[process_result] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[device_process_history_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[device_types]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[device_types](
	[device_type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[device_type_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_device_types_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[devices]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[devices](
	[device_id] [bigint] IDENTITY(1,1) NOT NULL,
	[rack_position_id] [bigint] NOT NULL,
	[device_type_id] [int] NOT NULL,
	[sku] [nvarchar](100) NULL,
	[sku_generic_name] [nvarchar](100) NULL,
	[serial_number] [nvarchar](100) NULL,
	[current_process_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[asset_tag] [nvarchar](100) NULL,
	[firmware_version] [nvarchar](100) NULL,
	[manufacturer] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[device_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_racks]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_racks](
	[order_id] [bigint] NOT NULL,
	[rack_id] [bigint] NOT NULL,
	[rack_sequence] [int] NULL,
 CONSTRAINT [PK_order_racks] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[rack_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_users]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_users](
	[order_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK_order_users] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[user_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[stage] [nvarchar](50) NOT NULL,
	[crd_version_id] [bigint] NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[progress] [decimal](5, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[order_number] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_orders_order_number] UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[processes]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[processes](
	[process_id] [int] IDENTITY(1,1) NOT NULL,
	[process_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[process_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_processes_name] UNIQUE NONCLUSTERED 
(
	[process_name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rack_positions]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rack_positions](
	[rack_position_id] [bigint] IDENTITY(1,1) NOT NULL,
	[rack_id] [bigint] NOT NULL,
	[position] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rack_position_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_rack_positions] UNIQUE NONCLUSTERED 
(
	[rack_id] ASC,
	[position] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rack_process_history]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rack_process_history](
	[rack_process_history_id] [bigint] IDENTITY(1,1) NOT NULL,
	[rack_id] [bigint] NOT NULL,
	[process_id] [int] NOT NULL,
	[started_at] [datetime2](7) NOT NULL,
	[ended_at] [datetime2](7) NULL,
	[reported_by] [nvarchar](100) NULL,
	[process_result] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[rack_process_history_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[racks]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[racks](
	[rack_id] [bigint] IDENTITY(1,1) NOT NULL,
	[rack_sku] [nvarchar](100) NOT NULL,
	[rack_gen_name] [nvarchar](100) NULL,
	[rack_serial] [nvarchar](100) NOT NULL,
	[current_process_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rack_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_racks_serial] UNIQUE NONCLUSTERED 
(
	[rack_serial] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_roles_name] UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 8/20/2026 8:31:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[display_name] [nvarchar](200) NULL,
	[email] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[entra_object_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_crd_version_processes_process]    Script Date: 8/20/2026 8:31:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_crd_version_processes_process] ON [dbo].[crd_version_processes]
(
	[process_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_crd_versions_crd]    Script Date: 8/20/2026 8:31:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_crd_versions_crd] ON [dbo].[crd_versions]
(
	[crd_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_devices_current_process]    Script Date: 8/20/2026 8:31:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_devices_current_process] ON [dbo].[devices]
(
	[current_process_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_devices_device_type]    Script Date: 8/20/2026 8:31:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_devices_device_type] ON [dbo].[devices]
(
	[device_type_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_devices_rack_position]    Script Date: 8/20/2026 8:31:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_devices_rack_position] ON [dbo].[devices]
(
	[rack_position_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_racks_rack]    Script Date: 8/20/2026 8:31:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_order_racks_rack] ON [dbo].[order_racks]
(
	[rack_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_orders_crd_version]    Script Date: 8/20/2026 8:31:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_orders_crd_version] ON [dbo].[orders]
(
	[crd_version_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_rack_positions_rack]    Script Date: 8/20/2026 8:31:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_rack_positions_rack] ON [dbo].[rack_positions]
(
	[rack_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_racks_current_process]    Script Date: 8/20/2026 8:31:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_racks_current_process] ON [dbo].[racks]
(
	[current_process_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[crd_version_processes] ADD  DEFAULT ((1)) FOR [is_required]
GO
ALTER TABLE [dbo].[crd_versions] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[crds] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[device_components] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[device_failures] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[device_process_history] ADD  DEFAULT (sysutcdatetime()) FOR [started_at]
GO
ALTER TABLE [dbo].[devices] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0.00)) FOR [progress]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('TEMP') FOR [order_number]
GO
ALTER TABLE [dbo].[processes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[processes] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[rack_process_history] ADD  DEFAULT (sysutcdatetime()) FOR [started_at]
GO
ALTER TABLE [dbo].[racks] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[crd_version_processes]  WITH CHECK ADD  CONSTRAINT [FK_crd_version_processes_crd] FOREIGN KEY([crd_version_id])
REFERENCES [dbo].[crd_versions] ([crd_version_id])
GO
ALTER TABLE [dbo].[crd_version_processes] CHECK CONSTRAINT [FK_crd_version_processes_crd]
GO
ALTER TABLE [dbo].[crd_version_processes]  WITH CHECK ADD  CONSTRAINT [FK_crd_version_processes_process] FOREIGN KEY([process_id])
REFERENCES [dbo].[processes] ([process_id])
GO
ALTER TABLE [dbo].[crd_version_processes] CHECK CONSTRAINT [FK_crd_version_processes_process]
GO
ALTER TABLE [dbo].[crd_versions]  WITH CHECK ADD  CONSTRAINT [FK_crd_versions_crd] FOREIGN KEY([crd_id])
REFERENCES [dbo].[crds] ([crd_id])
GO
ALTER TABLE [dbo].[crd_versions] CHECK CONSTRAINT [FK_crd_versions_crd]
GO
ALTER TABLE [dbo].[device_components]  WITH CHECK ADD  CONSTRAINT [FK_device_components_device] FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([device_id])
GO
ALTER TABLE [dbo].[device_components] CHECK CONSTRAINT [FK_device_components_device]
GO
ALTER TABLE [dbo].[device_components]  WITH CHECK ADD  CONSTRAINT [FK_device_components_type] FOREIGN KEY([component_type_id])
REFERENCES [dbo].[component_types] ([component_type_id])
GO
ALTER TABLE [dbo].[device_components] CHECK CONSTRAINT [FK_device_components_type]
GO
ALTER TABLE [dbo].[device_failures]  WITH CHECK ADD  CONSTRAINT [FK_device_failures_device] FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([device_id])
GO
ALTER TABLE [dbo].[device_failures] CHECK CONSTRAINT [FK_device_failures_device]
GO
ALTER TABLE [dbo].[device_failures]  WITH CHECK ADD  CONSTRAINT [FK_device_failures_process] FOREIGN KEY([process_id])
REFERENCES [dbo].[processes] ([process_id])
GO
ALTER TABLE [dbo].[device_failures] CHECK CONSTRAINT [FK_device_failures_process]
GO
ALTER TABLE [dbo].[device_process_history]  WITH CHECK ADD  CONSTRAINT [FK_device_history_user] FOREIGN KEY([reported_by_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[device_process_history] CHECK CONSTRAINT [FK_device_history_user]
GO
ALTER TABLE [dbo].[device_process_history]  WITH CHECK ADD  CONSTRAINT [FK_device_process_history_device] FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([device_id])
GO
ALTER TABLE [dbo].[device_process_history] CHECK CONSTRAINT [FK_device_process_history_device]
GO
ALTER TABLE [dbo].[device_process_history]  WITH CHECK ADD  CONSTRAINT [FK_device_process_history_process] FOREIGN KEY([process_id])
REFERENCES [dbo].[processes] ([process_id])
GO
ALTER TABLE [dbo].[device_process_history] CHECK CONSTRAINT [FK_device_process_history_process]
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD  CONSTRAINT [FK_devices_current_process] FOREIGN KEY([current_process_id])
REFERENCES [dbo].[processes] ([process_id])
GO
ALTER TABLE [dbo].[devices] CHECK CONSTRAINT [FK_devices_current_process]
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD  CONSTRAINT [FK_devices_device_type] FOREIGN KEY([device_type_id])
REFERENCES [dbo].[device_types] ([device_type_id])
GO
ALTER TABLE [dbo].[devices] CHECK CONSTRAINT [FK_devices_device_type]
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD  CONSTRAINT [FK_devices_rack_position] FOREIGN KEY([rack_position_id])
REFERENCES [dbo].[rack_positions] ([rack_position_id])
GO
ALTER TABLE [dbo].[devices] CHECK CONSTRAINT [FK_devices_rack_position]
GO
ALTER TABLE [dbo].[order_racks]  WITH CHECK ADD  CONSTRAINT [FK_order_racks_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_racks] CHECK CONSTRAINT [FK_order_racks_order]
GO
ALTER TABLE [dbo].[order_racks]  WITH CHECK ADD  CONSTRAINT [FK_order_racks_rack] FOREIGN KEY([rack_id])
REFERENCES [dbo].[racks] ([rack_id])
GO
ALTER TABLE [dbo].[order_racks] CHECK CONSTRAINT [FK_order_racks_rack]
GO
ALTER TABLE [dbo].[order_users]  WITH CHECK ADD  CONSTRAINT [FK_order_users_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_users] CHECK CONSTRAINT [FK_order_users_order]
GO
ALTER TABLE [dbo].[order_users]  WITH CHECK ADD  CONSTRAINT [FK_order_users_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[order_users] CHECK CONSTRAINT [FK_order_users_role]
GO
ALTER TABLE [dbo].[order_users]  WITH CHECK ADD  CONSTRAINT [FK_order_users_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[order_users] CHECK CONSTRAINT [FK_order_users_user]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_crd_version] FOREIGN KEY([crd_version_id])
REFERENCES [dbo].[crd_versions] ([crd_version_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_crd_version]
GO
ALTER TABLE [dbo].[rack_positions]  WITH CHECK ADD  CONSTRAINT [FK_rack_positions_rack] FOREIGN KEY([rack_id])
REFERENCES [dbo].[racks] ([rack_id])
GO
ALTER TABLE [dbo].[rack_positions] CHECK CONSTRAINT [FK_rack_positions_rack]
GO
ALTER TABLE [dbo].[rack_process_history]  WITH CHECK ADD  CONSTRAINT [FK_rack_process_history_process] FOREIGN KEY([process_id])
REFERENCES [dbo].[processes] ([process_id])
GO
ALTER TABLE [dbo].[rack_process_history] CHECK CONSTRAINT [FK_rack_process_history_process]
GO
ALTER TABLE [dbo].[rack_process_history]  WITH CHECK ADD  CONSTRAINT [FK_rack_process_history_rack] FOREIGN KEY([rack_id])
REFERENCES [dbo].[racks] ([rack_id])
GO
ALTER TABLE [dbo].[rack_process_history] CHECK CONSTRAINT [FK_rack_process_history_rack]
GO
ALTER TABLE [dbo].[racks]  WITH CHECK ADD  CONSTRAINT [FK_racks_current_process] FOREIGN KEY([current_process_id])
REFERENCES [dbo].[processes] ([process_id])
GO
ALTER TABLE [dbo].[racks] CHECK CONSTRAINT [FK_racks_current_process]
GO
ALTER TABLE [dbo].[crd_version_processes]  WITH CHECK ADD  CONSTRAINT [CK_crd_version_process_sequence] CHECK  (([sequence]>(0)))
GO
ALTER TABLE [dbo].[crd_version_processes] CHECK CONSTRAINT [CK_crd_version_process_sequence]
GO
ALTER TABLE [dbo].[device_process_history]  WITH CHECK ADD  CONSTRAINT [CK_device_process_history_dates] CHECK  (([ended_at] IS NULL OR [ended_at]>=[started_at]))
GO
ALTER TABLE [dbo].[device_process_history] CHECK CONSTRAINT [CK_device_process_history_dates]
GO
ALTER TABLE [dbo].[device_process_history]  WITH CHECK ADD  CONSTRAINT [CK_device_process_result] CHECK  (([process_result] IS NULL OR ([process_result]='BLOCKED' OR [process_result]='SKIPPED' OR [process_result]='ABORTED' OR [process_result]='FAIL' OR [process_result]='PASS')))
GO
ALTER TABLE [dbo].[device_process_history] CHECK CONSTRAINT [CK_device_process_result]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_dates] CHECK  (([end_date] IS NULL OR [start_date] IS NULL OR [end_date]>=[start_date]))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_dates]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_progress] CHECK  (([progress]>=(0) AND [progress]<=(100)))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_progress]
GO
ALTER TABLE [dbo].[rack_positions]  WITH CHECK ADD  CONSTRAINT [CK_rack_position_number] CHECK  (([position]>=(1) AND [position]<=(48)))
GO
ALTER TABLE [dbo].[rack_positions] CHECK CONSTRAINT [CK_rack_position_number]
GO
ALTER TABLE [dbo].[rack_process_history]  WITH CHECK ADD  CONSTRAINT [CK_rack_process_history_dates] CHECK  (([ended_at] IS NULL OR [ended_at]>=[started_at]))
GO
ALTER TABLE [dbo].[rack_process_history] CHECK CONSTRAINT [CK_rack_process_history_dates]
GO
